#secSix{
    color: #716c53;
    font-family: 'Montserrat', sans-serif;
    padding: 50px 0px;
}

#secSix h1 {
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

#secSix .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 50px 0 0 0;
}

.single-secSix img {
    margin: 35px 0;
    width: 20vw;
}


.single-secSix p {
    margin: 20px 0 40px;
    width: 20vw;
    font-size: 23px;
}

.single-secSix a {
    text-decoration: none;
    color: #fff;
    background: #716c53;
    padding: 15px 7vw;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 800;
    transition: .6s;
}

.single-secSix a:hover {
    background: #333;
}

@media (max-width:1261px){
    .single-secSix p {
        margin: 20px 0 40px 5%;
        width: 20vw;
        font-size: 20px;
    }
}


@media (max-width:768px){
    /* #secSix{
        padding: 30px 0px;
    } */
    
    #secSix h1 {
        font-size: 35px;
    }
    #secSix .container {
        margin: 30px 0 0 0;
    }
    .single-secSix {
        width: 30vw;
    }
    .single-secSix img {
        margin: 15px 0;
        width: 200px;
    }
    .single-secSix p {
        width: 200px;
        font-size: 15px;
    }
    .single-secSix a {
        padding: 15px 6.5vw;
        font-size: 12px;
    }
}

@media (max-width:683px) {
    .single-secSix p {
        margin-left: -2px;
    }
}

@media (max-width:627px) {
    .single-secSix img {
        margin: 15px 0;
        width: 150px;
    }
    .single-secSix p {
        width: 20vw;
        font-size: 15px;
        margin-left: 5vw;
    }
}